<nav>
    <a href="/">Home</a> |
    <% if(user) { %>
        <a href="/users/<%=user._id%>/foods"><span class="emoji-icon">&#x1F96B</span> View my Pantry</a> |
        <a href="/auth/sign-out">Sign Out</a> |
    <% } else { %>
        <a href="/auth/sign-in"><span class="emoji-icon">&#x1F6CE</span> Sign In</a> |
        <a href="/auth/sign-up">Sign Up</a> |
    <% } %>
    <a href="/users/"><span class="emoji-icon">&#x1F961</span> Explore Our Community</a>
</nav>