<%- include('./partials/_head-style.ejs') %>
    <title>Home Page</title>
  </head>

  <%- include('./partials/_cupboard-open-close.ejs') %>
    <%- include('./partials/_navbar.ejs') %>
    <% if (user) { %>
      <h1>Welcome to the app, <%= user.username %>!</h1>
      <div class="content-container">
        <p>
          <a href="/auth/sign-out">Sign out</a>
        </p>
    <% } else { %>
      <h1 id="welcome">ようこそ お客様、 食Pantryへ.</h1>
        <h3><em>口以上旨</em></h3>
        <div class="content-container">
        <p>
          <a href="/auth/sign-up"><div class="link-div">Sign Up</div></a> or
          <a href="/auth/sign-in"><div class="link-div">Sign In</div></a>
        </p>
    <% } %>
    </div>

  </body>
  
</html>
