<%- include('./partials/_head-style.ejs') %>
    <title>Home Page</title>
  </head>

  <%- include('./partials/_cupboard-open-close.ejs') %>
    <%- include('./partials/_navbar.ejs') %>
    <% if (user) { %>
      <h1>Welcome to the app, <%= user.username %>!</h1>
      <div class="content-container">
        <p>
          <a href="/auth/sign-out"><div class="link-div">Sign out</div></a>
        </p>
    <% } else { %>
      <h1 id="welcome"><ruby> ようこそ, お客様、 食Pantryへ. <rp>(</rp><rt> Welcome, guest, ShokuPantry to. </rt><rp>)</rp></ruby></h1>
        <h3><em><ruby> 口以上旨 <rp>(</rp><rt> mouth like more tasty </rt><rp>)</rp></ruby></em></h3>
        <div class="content-container">
        <p>
          <a href="/auth/sign-up"><div class="link-div">Sign Up</div></a>
          <br>
          <a href="/auth/sign-in"><div class="link-div">Sign In</div></a>
        </p>
    <% } %>
    </div>

  </body>
  
</html>
